* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}
main .red {
  width: 100%;
}
main .red p {
  text-align: center;
  padding: 1rem;
  background-color: rgba(54, 22, 196, 0.831);
  color: white;
  font-size: 0.9rem;
}
main nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 251, 251);
}
main nav i {
  font-size: 1.5rem;
}
main section.view1 {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
}
main section.view1 .bottom {
  width: 100%;
  text-align: center;
}
main section.view1 .bottom h1 {
  font-size: 3.1rem;
}
main section.view2 {
  text-align: center;
  padding: 3rem;
  background: linear-gradient(white, rgb(242, 198, 198));
  display: flex;
  flex-direction: column;
}
main section.view2 h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
main section.view3 {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section.view3 .top h1 {
  border-top: 0.25rem solid rgb(224, 220, 220);
  padding: 2rem 0.5rem;
  font-size: 1.6rem;
}
main section.view3 .top p {
  font-size: 1.3rem;
  padding-left: 0.5rem;
  font-weight: 100;
  line-height: 1.5rem;
}
main section.view3 .top .down {
  width: 100%;
}
main section.view3 .top .down img {
  width: 100%;
  padding: 2rem;
}
main section.view3 .center h1 {
  border-top: 0.25rem solid rgb(224, 220, 220);
  padding: 2rem 0.5rem;
  font-size: 1.6rem;
}
main section.view3 .center p {
  font-size: 1.3rem;
  padding-left: 0.5rem;
  font-weight: 100;
  line-height: 1.5rem;
}
main section.view3 .center .down2 {
  width: 100%;
}
main section.view3 .center .down2 img {
  width: 100%;
  padding: 2rem;
}
main section.view3 .bottom h1 {
  border-top: 0.25rem solid rgb(224, 220, 220);
  padding: 2rem 0.5rem;
  font-size: 1.6rem;
}
main section.view3 .bottom p {
  font-size: 1.3rem;
  padding-left: 0.5rem;
  font-weight: 100;
  line-height: 1.5rem;
}
main section.view3 .bottom .down3 {
  width: 100%;
}
main section.view3 .bottom .down3 img {
  width: 100%;
  padding: 2rem;
}
main section.view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section.view4 .top {
  width: 100%;
}
main section.view4 .top img {
  width: 100%;
}
main section.view4 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.5rem;
}
main section.view4 .bottom h2 {
  font-size: 1.3rem;
  font-weight: 350;
}
main section.view4 .bottom h1 {
  font-size: 3rem;
  font-weight: 600;
}
main section.view4 .bottom p {
  font-size: 1.2rem;
  padding-right: 2rem;
  line-height: 1.5rem;
}
main section.view4 .bottom .side button {
  margin-right: 10rem;
  padding: 0.7rem 0.5rem;
  border-radius: 1.3rem;
  color: rgb(55, 85, 193);
  background-color: transparent;
  border-color: rgb(101, 163, 184);
  font-size: 1rem;
}
main section.view4 .bottom .side h4 {
  padding: 1.5rem;
}
main section.view5 {
  background: linear-gradient(white, lightyellow);
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
main section.view5 .top {
  width: 100%;
}
main section.view5 .top img {
  width: 100%;
}
main section.view5 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view5 .bottom h2 {
  font-size: 1.2rem;
  font-weight: 200;
  padding-top: 2rem;
}
main section.view5 .bottom h1 {
  font-size: 3rem;
  font-weight: 600;
}
main section.view5 .bottom p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
main section.view5 .bottom button {
  margin-right: 8rem;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  color: white;
  background-color: rgba(56, 56, 223, 0.888);
}

@media (min-width: 600px) {
  main section.view1 {
    flex-direction: row-reverse;
  }
  main section.view1 .bottom {
    display: flex;
    align-items: center;
  }
  main section.view1 .bottom h1 {
    font-size: 4.4rem;
  }
  main section.view2 {
    justify-content: center;
    padding: 4rem 11rem;
  }
  main section.view2 h2 {
    font-size: 2.2rem;
  }
  main section.view3 {
    flex-direction: row;
    gap: 1.5rem;
    padding: 4rem 3rem;
  }
  main section.view4 {
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 5rem;
  }
  main section.view4 .bottom h1 {
    font-size: 4rem;
  }
  main section.view4 .bottom p {
    padding-right: 10rem;
    line-height: 1.5rem;
  }
  main section.view4 .bottom .side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  main section.view4 .bottom .side button {
    padding: 1rem;
  }
  main section.view5 {
    flex-direction: row;
    gap: 10rem;
  }
  main section.view5 .bottom {
    padding-right: 7rem;
  }
  main section.view5 .bottom h1 {
    font-size: 4rem;
  }
  main section.view5 .bottom button {
    margin-right: 23rem;
  }
}/*# sourceMappingURL=style.css.map */